name: build-debian

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        busybox: [ "1.34.1", "1.36.1", "1.37.0" ]
        debian: [ "11.11", "12.12", "13.2" ]
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v4
      -
        name: Read image version
        uses: bfren/read-file@v2
        with:
          file: ./VERSION
        id: version
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Quay.io Container Registry
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.QUAY_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile.debian
          build-args: |
            ALPINE_BRANCH=3.22
            BUSYBOX=${{ matrix.busybox }}
            DEBIAN=${{ matrix.debian }}
          push: true
          platforms: linux/386,linux/amd64,linux/arm/v7,linux/arm64/v8
          tags: |
            quay.io/bfren/busybox:${{ matrix.busybox }}-debian${{ matrix.debian }}-${{ steps.version.outputs.contents }}
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
